body{
  background-color: #bccddc8f;
}
.card {
    margin-top: 10px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: aliceblue;
}
.card:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.form-control{
  background-color: #f2f7fb;
}
